---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Prose from "../components/Prose.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body id="top" class="dark:bg-grey-600 dark:text-grey-200">
		<Header />
		<main transition:animate="slide" class="mx-auto max-w-2xl">
			<article>
				<div
					class="md:my-8 md:rounded border-b-2 md:border-2 border-black dark:border-grey-400 flex justify-center aspect-video"
				>
					{
						heroImage && (
							<img
								src={heroImage}
								class="object-cover"
								width={1020}
								height={510}
								alt="hero image"
							/>
						)
					}
				</div>
				<div class="">
					<div class="px-4 my-8">
						<h1 class="text-5xl">{title}</h1>
						<div class="italic">
							{pubDate && <FormattedDate date={pubDate} />}
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on{" "}
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
					</div>
					<div class="px-4">
						<Prose>
							<slot />
						</Prose>
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
